# Step 3

## 01. Import Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 02. Set Paths and Import Data

In [2]:
path = r'C:\Users\Personal Computer\Documents\09.2022_Instacart_Basket_Analysis'

In [4]:
df_large_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Step 4

In [5]:
##  Check the shape of the dataframe.
df_large_merge.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,yes,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,yes,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,yes,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,yes,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,yes,26405,5,0,both

In [6]:
df_large_merge['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [7]:
df_large_merge.shape

(32434489, 13)

# Step 5

## Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task

In [8]:
## Import the clean, deduped products.csv
df_cleandup_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [9]:
df_cleandup_prod.shape

(49672, 6)

In [9]:
df_cleandup_prod

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
df_large_merge = df_large_merge.drop(columns = ['_merge'])

In [11]:
## merge using product_id
df_super_merge = df_large_merge.merge(df_cleandup_prod, on = 'product_id', indicator = True)

In [12]:
## did the super merge work?
df_super_merge.head()

,Unnamed: 0_x,Unnamed: 0.1,order_id,user_id,user_order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge
0,0,0,2539329,1,1,2,8,NaN,yes,196,1,0,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,no,196,1,1,195,Soda,77,7,9.0,both
2,2,2,473747,1,3,3,12,21.0,no,196,1,1,195,Soda,77,7,9.0,both
3,3,3,2254736,1,4,4,7,29.0,no,196,1,1,195,Soda,77,7,9.0,both
4,4,4,431534,1,5,4,15,28.0,no,196,1,1,195,Soda,77,7,9.0,both

In [13]:
df_super_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_super_merge.shape

(32404859, 18)

In [15]:
## Exporting file to pkl
df_super_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'order_products_merged.pkl'))